.BlogEntry{
  overflow: hidden;
  height: 82px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 20px 20px 20px 20px;
}

.BlogEntry h2{
  text-align: center;
  margin: auto;
}

.BlogEntry p{
  margin-left: 20px;
}
